@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --template-text: #000000;
  --template-border: #000000;
}

/* Removed unsupported @theme rule */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.templateHeader {
  color: var(--template-text);
}

.templateParams {
  color: var(--template-text);
  border-color: var(--template-border);
}