version: "3.9"

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/jobs:/app/jobs
    depends_on:
      - openscad
      

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_API_URL: http://localhost:8000
    depends_on:
      - backend

  openscad:
    build: ./docker/openscad-service
    volumes:
      - ./backend/jobs:/data

  
