//
// CUBE TEMPLATE
// Parameters are injected by backend.
// {{CUBE_SIZE}} = length of each edge
//

cube_size = {{CUBE_SIZE}};

// Center in X/Y for slicer placement, but keep bottom face on Z=0
translate([0, 0, cube_size / 2])
	cube([cube_size, cube_size, cube_size], center = true);