//
// CYLINDER TEMPLATE
// Parameters injected by backend.
//

height    = {{HEIGHT}};
diameter  = {{DIAMETER}};
segments  = {{SEGMENTS}};   // number of cylinder facets

cylinder(
    h = height,
    d = diameter,
    center = false,
    $fn = segments
);
