//
// CYLINDER TEMPLATE
// Parameters injected by backend.
//

height    = {{ HEIGHT | default(60) }};
diameter  = {{ DIAMETER | default(30) }};
segments  = {{ SEGMENTS | default(64) }};   // number of cylinder facets

cylinder(
    h = height,
    d = diameter,
    center = false,
    $fn = segments
);
